@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-primary:#030711;
    --color-secondary:#22222e;
    --color-border:#151619;
    --color-purple-200:#22222e;
    --color-purple-100:#4b3576;
    --color-white-900:#fafafa;
    --color-gray-100:#0e1014;
}
